h1 {
    font-family: 'URW Chancery L', 'cursive';
    font-style: oblique;
    color: whitesmoke;
    
    text-align: center;
    font-size: 48px;

    margin: auto;
    margin-top: 5%;
    padding: 2% 5%;
}

body {
    background-image: url("background.png");
}