body {
    /*background-image: url("background.png");*/
    background-color: rgb(48, 38, 58);
}

h1 {
    font-family: Georgia, Arial, sans-serif;
    color: whitesmoke;
    
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    padding: 10px;
    margin: 0 0 0 0;
}

h2 {
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    padding: 10px;
    margin: 0 0 0 0;
}

h3 {
    text-align: left;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 0 0;
}

a {
    color: rgb(132, 77, 149);
}

.header {
    margin: 50px 265px 0 15px;
    width: auto;
}

.main-section {
    color: rgb(6, 4, 8);
    font-family: Verdana, Arial, sans-serif;
    
    text-align: left;
    font-size: 24px;
    font-weight: 500;

    background-color: rgba(237, 232, 239, 1);

    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 265px;
    padding: 15px;

    border: 2px black solid;
    border-radius: 5px;

    overflow-x: hidden;
}

.project {
    width: auto;
    height: auto;
    margin: 15px;

    overflow-x: hidden;
}

.projectImage {
    display: inline-block;
    position: relative;
    left: 0;
    margin: 10 10 10 0;
}

.projectDesc {
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    display: inline;
}

.sidenav {
    height: 100%;
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #141214;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-left: 10%;
}

.sidenav a {
    margin-left: 20px;
    margin-bottom: 18px;
    margin-right: 20px;
    font-size: 36px;
    font-weight: 500;
    font-family: Verdana, Arial, sans-serif;
    display: block;
    text-align: left;
}
.sidenav a:link, .sidenav a:visited {
    color: rgb(237, 232, 239);
    text-decoration: none;
}

.sidenav a:hover, .sidenav a:active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}